#app{
	background: white;
}

.validation-laravel{
	font-size: 10px !important;
}

.navbar-laravel{
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);
}

.agis-medium{
	font: 500 14px 'Agis';
	letter-spacing: 1.5px;
}

.form-control{
	outline: none !important;
	box-shadow: none !important;
}

.admin-bg{
	background: #fafafa;
}

.admin-logo{
	margin: 60px 0;
}

.admin-input{
	margin-bottom: 30px;
}

.admin-rights{
	margin-top: 130px;
}

.admin-menu-singout{
	margin-left: 10px;
	margin-top: 8px;
}

.admin-menu h3{
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.admin-menu>ul>li{
	margin-bottom: 15px;
}

.admin-menu>ul>li>a{
	font-size: 18px;
	font-weight: 400;
	color: black;
	transition: all .3s;
}

.admin-menu>ul>li>a:hover{
	text-decoration: none;
	opacity: .5;
	transition: all .3s;
	margin-left: 3px;
}

.admin-product-list{
	width: 100%;
	margin-top: 30px;
	background: white;
	padding: 10px 25px;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
}

.admin-product-image-thumb{
	width: 42px;
	height: 42px;
	position: relative;
	overflow: hidden;
}

.admin-product-image-thumb img{
	border: solid 1px black;
	width: 100%;
}

.admin-product-tag span{
	font-size: 10px !important;

}

.dropzone{
	background: #f1f1f1;
	width: 80%;
	margin: auto;
	padding: 15px;
	color: #969696;
	font-size: 16px;
	display: block;
}

/* app-header */

.menu-fixed{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5);
}

.menu-fixed-height{
	height: 107px;
	width: 100%;
}

.app-freeshiping{
	background: black;
	color: white;
	text-align: center;
	width: 100%;
	padding: 6px 3px 3px 3px;
}

.app-freeshiping h2{
	font-size: 15px;
	margin: 0;
	letter-spacing: 2px;
}

.app-menu{
	padding: 10px 0;
	background: white;
}

.app-menu nav ul{
	margin-top: 20px;
}

.app-menu nav ul li{
	font-size: 11px;
}

.app-menu nav ul li a{
	text-decoration: none;
	color: black;
	transition: all .3s;
}

.app-menu nav ul li a:hover{
	opacity: .8;
	font-size: 12px;
	transition: all .3s;
}

.app-menu #search{
	border-color: transparent;
	border-bottom:solid 2px black;
	border-radius: 0;
}

.app-search{
	position: relative;
}

.app-search input{
	position: relative;
	top: 12px;
}

.app-search a{
	position:absolute;
	right: 0;
	top: 12px;
}

.app-area a{
	color: black;
	font-size: 11px;
	transition: all .3s;
}

.app-area a:hover{
	opacity: .8;
	text-decoration: none;
	transition: all .3s;
}

.app-area img{
	margin-top: 10px;
}

/* app-footer */
.app-footer-bg{
	background: black;
	padding: 60px 0;
}

.app-footer{
	color: white;
}

.app-footer h3{
	margin-bottom: 20px;
	font-size: 20px;
}

.app-footer ul li{
	font-size: 14px;
	margin-bottom: 15px;
}

.app-footer ul li a{
	color: white;
	transition: all .3s;
}

.app-footer ul li a:hover{
	text-decoration: none;
	opacity: .8;
	transition: all .3s;
}

.app-footer-contact, .app-footer-contact a{
	color: white;
}

.app-footer-contact a:hover{
	text-decoration: none;
}

.app-footer-contact div:nth-of-type(2){
	text-align: right;
	font-size: 16px;
}

.app-newsletter-bg{
	background: #fafafa;
	padding: 60px 0;
}

.app-newsletter{
	text-align: center;
}

.app-newsletter h2{
	font-size: 50px;
}


.app-newsletter h3{
	font-size: 26px;
}

.app-newsletter input, .app-newsletter input:focus{
	border-color: transparent;
	border-bottom: solid 2px black;
	background: transparent;
	outline: none !important;
	box-shadow: none !important;
}

.btn-vintage{
	background: black;
	padding: 10px 18px;
	color: white !important;
	font-size: 15px;
	text-align: center;
	transition: all .3s;
	border: solid 1px black;
}

.btn-vintage:hover{
	background: white;
	color: black !important;
	transition: all .3s;
	text-decoration: none;
}

.home-product-t{
	background: linear-gradient(to top right, #fff 0%, #fff 50%, #000 50%, #000 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
	color: white;
	padding-top: 40px;
}

.home-product-t h1{
	font-size: 55px;
}

.home-product-t h2{
	font-size: 30px;
}

.home-product-image{
	margin-top: -50px;
	width: 100%;
	text-align: center;
	height: 350px;
	overflow: hidden;
}

.home-product-title p:nth-of-type(1){
	font-size: 14px;
	margin-bottom: 5px;
}

.home-product-title p:nth-of-type(2){
	font-size: 20px;
}

.home-product-title strong{
	font-size: 30px;
	position: relative;
	top: 15px;
}

.home-product-f{
	text-align: center;
	transition: all .3s;
}

.home-product-f:hover{
	opacity: .8;
	transition: all .3s;
}

.home-product-f a{
	color: black;
	transition: all .3s;
}

.home-product-f a:hover{
	text-decoration: none;
	transition: all .3s;
}

.product-internal{
	width: 100%;
	overflow: hidden;
	height: 350px;
	position: relative;
	text-align: center;
}

.product-internal-thumb{
	width: 35px;
	height: 50px;
	overflow: hidden;
	position: relative;
	border: solid 1px black;
}

.product-internal-info h1{
	font-size: 18px;
}

.product-internal-info h2{
	font-size: 30px;
}

.product-internal-info strong{
	font-size: 45px;
}

.product-internal-desc{
	color: #4d4d4d;
}

.badge-vintage{
	background: black;
	color: white;
	padding: 10px 6px 6px;
	border-radius: 0;
}